* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

/* .collegeName {
  border: 1px solid blue;
} */

.navbar {
  /* border: 4px solid blue; */
  background: rgb(33, 158, 180);
}

ul {
  display: flex;
  list-style: none;
  gap: 15px;
  text-transform: capitalize;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.formContainer {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  /* width: 40vh; */
  align-items: center;
  background: blue;
  gap: 50px;
  /* margin-top: 20px; */
}

.formContainer > h1 {
  /* border: 2px solid red; */
  margin-top: 10px 20px;
  text-transform: capitalize;
  color: white;
  font-size: 40px;
  text-decoration: underline;
}

.detailContainer {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

input {
  padding: 8px 12px;
  background-color: yellow;
  text-transform: capitalize;
}

button {
  border: 2px solid red;
  padding: 10px;
  border: none;
  color: black;
  background-color: rgb(28, 209, 15);
  cursor: pointer;
  border-radius: 10px;
  margin: 10px 15px;
  font-size: 20px;
  margin: 20px 30px;
}

button:hover {
  color: burlywood;
  background-color: rgb(180, 19, 151);
  transition: 0.5s;
  font: 15px;
}
